<ul class="nav bg-light">
  <li class="nav-item">
    <%= link_to 'To Do 18 de Septiembre', root_path, :class => 'nav-link' %>
  </li>
  <li class="nav-item">
    <% if user_signed_in? %>
    	<span class="nav-link"><%= current_user.name %></span>
    <% else %>
    	<%= link_to 'Ingresar', new_user_session_path, :class => 'nav-link' %>
    <% end %>
	<li class="nav-item">
		<% if user_signed_in? %>
		  <%= link_to 'Salir', destroy_user_session_path, method: :delete, :class => 'nav-link' %>
		<% else %>
		  <%= link_to 'Registrarse', new_user_registration_path, :class => 'nav-link' %>
		<% end %>
	</li>

  <li class="nav-item">
    <% if user_signed_in? %>
      <span class="nav-link">Tareas finalizadas: <%= Work.where(user_id: current_user.id, complete: true).count %></span>
    <% end %>
  </li>
  <li class="nav-item">
    <% if user_signed_in? %>
      <%= link_to 'Ver tareas Completadas', user_path(current_user.id), :class => 'nav-link' %>
    <% end %>
  </li>

  
</ul>